$fontFamily_1: 'Poppins', sans-serif;
$fontFamily_2: 'Poppins', serif;

$bgDarkFirst: #111111;
$bgDarkSecond: #111111;
$bgLightFirst: #dadada;
$bgLightSecond: #dadada;
$titleLight: rgba(180, 180, 180, 0.7);
$titleDark: hsla(0, 0%, 100%, .07);
$accentColor: #3a5ace;
$fontColor: white;