@import 'sass/variables';
@import 'sass/mixin';
@import '../style/Projects.module';

.AboutContainer {
  @include flex(column, center, flex-start);
}

.container {
  @include flex(column, space-between, center);
  background-color: $bgcSecond;
  width: 85%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $fontFamily_1;
  font-size: 20px;
  border: 1px solid yellow;
}

.titleContainer {
  @include flex(row, center, center);
  width: 100%;
  border: 1px solid red;
}

.content {
  border: 1px solid green;
  @include flex(column, space-between, center);
  width: 100%;
  min-height: 90vh;
  flex-wrap: wrap;
  z-index: 1;
}

.lineContent {
  @include flex(row, space-evenly, flex-start);
  width: 100%;
  min-height: 30%;
  border: 1px solid beige;
}

.lineContent section {
  border: 1px solid red;
  background-color: $bgcSecond;
  z-index: 1;
  padding: 10px;
}

.personalInfo {
  width: 40vw;
}

.programming_training {
  width: 40vw;
}

.experience_education {
  width: 40vw;
}

.relevantLinks {
  @include flex(column, center, space-between);
  min-height: 40%;
  width: 40vw;
  border: 1px solid purple;
}

.icon {
  @include size(30px, 30px);
  margin-right: 10px;
}

.linksContainer {
  margin-top: 10px;
  @include flex(row, space-evenly, center);
  min-height: 20vh;
  border: 1px solid red;
}

.relevantLinks img {
  width: 70px;
  transition-duration: 1s;
  transition-property: all;
}

.relevantLinks img:hover {
  transform: scale(1.2);
}

.personalStrengths {
  @include flex(column, normal, flex-start);
  height: 40%;
  width: 40vw;
}

.languages {
  min-height: 30vh;
  width: 40vw;
}

.circleContainer {
  border: 1px solid red;
  @include flex(row, space-evenly, center);
  position: relative;
  gap: 20px;
  min-height: 19vh;
}

.header_3 {
  @include flex(row, normal, center);
  color: $fontColor;
  font-family: $fontFamily_1;
  font-size: inherit;
  font-weight: 700;
  gap: 25px;
  letter-spacing: 8px;
  line-height: 1.7;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px;
}

.circle {
  @include size(10px, 10px);
  border-radius: 50%;
  background: $accentColor;
  box-shadow: 0 0 10px $accentColor, 0 0 30px $accentColor;
  animation: circleAppearance 1s forwards ease-in-out;
  @keyframes circleAppearance {
    0% {
      opacity: 0;
      margin-left: 200px;
    }
    100% {
      opacity: 1;
      margin-left: 0;
    }
  }
}

.headerLine {
  background-color: $accentColor;
  display: inline-block;
  flex-grow: 1;
  height: 1px;
}

section p {
  @include flex(row, space-between, normal);
  margin-top: 10px;
  letter-spacing: 2px;
}

@media screen and (max-width: 2000px) {
  section p {
    font-size: 18px;
  }
  .header_3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1800px) {
  .container {
    width: 100%;
  }
  .content {
    @include flex(column, space-between, center);
  }
  .languages {
    min-height: 20vh;
  }
  .circleContainer {
    min-height: 15vh;
  }
}

@media screen and (max-width: 1400px) {
  .lineContent section {
    width: 46vw;
  }
}

@media screen and (max-width: 1000px) {
  section p {
    font-size: 14px;
  }
  .header_3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .lineContent {
    @include flex(column, space-evenly, center);
  }
  .lineContent section {
    width: 100vw;
  }
  .linksContainer {
    min-height: 10vh;
  }
  .relevantLinks img {
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  section p {
    @include flex(column, center, center);
  }
  .personalStrengths {
      align-items: center;
  }
  .linksContainer {
    @include flex(column, space-evenly, center);
  }
  .circleContainer {
    margin-top: 20px;
    @include flex(column, space-evenly, center);
  }
  .circleContainer {
    min-height: 40vh;
  }
}
@media screen and (max-width: 300px) {
  .circle {
    display: none;
  }
  .headerLine {
    display: none;
  }
}
