@import 'sass/variables';
@import 'sass/mixin';

.appContainer {
    display: flex;
    width: 100%;
    font-family: $fontFamily_1;
    color: $fontColor;
}

.main {
    width: 100%;
    @include flex(column, center, normal);
}

@media screen and (max-width: 1800px) {
    .appContainer {
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px) {
    .main {
        min-height: 90vh;
    }
}















