@import 'sass/variables';
@import 'sass/mixin';

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.container {
  @include flex(column, space-between, normal);
  width: 85%;
  min-height: 100vh;
  background-color: $bgcFirst;
}

.content {
  @include flex(row, space-between, flex-start);
  border: 1px solid red;
  min-height: 90vh;
}

.form {
  border: 1px solid blue;
  @include flex(column, space-evenly, center);
  width: 50%;
  min-height: 90vh;
  border-radius: 4px;
  flex-wrap: wrap;
  align-self: flex-start;
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

}

.inputBox {
  position: relative;
  width: 80%;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: $bgcSecond;
  outline: none;
  color: white;
  font-size: 24px;
  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 24px;
  color: white;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: white;
  transform: translate(10px) translateY(-11px);
  font-size: 16px;
  padding: 0 10px;
  background: $accentColor;
  letter-spacing: 2px;
  border-radius: 3px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid $accentColor;
}

.formTextarea {
  background: $bgcSecond;
  outline: none;
  color: white;
  font-size: 24px;
  transition: 0.5s;
  min-height: 30vh;
  width: 100%;
  resize: none;
  padding: 20px;
  border: none;
}

.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  color: white;
  transform: translate(10px) translateY(-11px);
  font-size: 16px;
  padding: 0 10px;
  background: $accentColor;
  letter-spacing: 2px;
  border-radius: 3px;
}

.inputBox textarea:valid,
.inputBox textarea:focus {
  border: 1px solid $accentColor;
}

.formButton {
  border: none;
  outline: none;
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  width: 200px;
  overflow: hidden;
  text-align: center;
  border-radius: 3px;
  transform: rotate(-5deg);
  transition: transform 0.2s ease-in-out;
}

.formButton span {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
}

.formButton .liquid {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: $accentColor;
  transition: 0.5s;
}

.formButton:hover .liquid {
  top: -120px;
}

.formButton .liquid:before,
.formButton .liquid:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.formButton:active {
  transform: scale(0.94);
}

.liquid:before {
  border-radius: 45%;
  background: $bgcSecond;
  animation: animate 5s linear infinite;
}

.liquid:after {
  border-radius: 40%;
  background: rgba(28, 28, 28, 0.5);
  animation: animate 10s linear infinite;
}

.links {
  @include flex(column, center, center);
  border: 1px solid purple;
  width: 50%;
  min-height: 90vh;
}

.socialLinksContainer {
  height: 20vh;
  width: 20vw;
  z-index: 2;
  background-color: $bgcSecond;
  @include flex(column, space-evenly, center);
}

.linksContainer {
  @include flex(row, space-evenly, center);
  width: 100%;
}

.socialLinksContainer img {
  transition-duration: 1s;
  transition-property: all;
  width: 50px;
}

.socialLinksContainer img:hover {
  transform: scale(1.4);
}

@media screen and (min-width: 3001px) {

}

@media screen and (max-width: 3000px) {
  .socialLinksContainer {
    width: 22vw;
  }
}

@media screen and (max-width: 2500px) {
  .socialLinksContainer {
    width: 24vw;
  }
}
@media screen and (max-width: 2000px) {
  .socialLinksContainer {
    width: 26vw;
  }
}

@media screen and (max-width: 1800px) {
  .container {
    width: 100%;
  }
  .form {
    min-height: 80vh;
  }
  .links {
    min-height: 80vh;
  }
  .socialLinksContainer {
    width: 28vw;
  }
}

@media screen and (max-width: 1600px) {
  .socialLinksContainer {
    width: 30vw;
  }
}

@media screen and (max-width: 1500px) {
  .socialLinksContainer {
    width: 32vw;
  }
}

@media screen and (max-width: 1300px) {
  .socialLinksContainer {
    width: 34vw;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    @include flex(column-reverse, space-evenly, center);
  }
  .form {
    align-self: auto;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 10vh;
  }
  .links {
    width: 100%;
    min-height: 60vh;
  }
  .socialLinksContainer {
    width: 40vw;
  }
}

@media screen and (max-width: 1000px) {
  .socialLinksContainer {
    width: 46vw;
  }
}

@media screen and (max-width: 900px) {
  .socialLinksContainer {
    width: 48vw;
  }
}

@media screen and (max-width: 800px) {
  .socialLinksContainer {
    width: 50vw;
  }
}

@media screen and (max-width: 700px) {
  .socialLinksContainer {
    width: 56vw;
  }
}

@media screen and (max-width: 600px) {
  .socialLinksContainer {
    width: 60vw;
  }
}

@media screen and (max-width: 500px) {
  .socialLinksContainer {
    width: 70vw;
  }
  .inputBox span {
    font-size: 18px;
  }
  .formButton {
    width: 170px;
  }
  .socialLinksContainer h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .socialLinksContainer {
    width: 80vw;
  }
}

@media screen and (max-width: 350px) {
  .socialLinksContainer {
    width: 90vw;
  }
  .socialLinksContainer h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 300px) {
  .formButton {
      width: 150px;
  }
  .linksContainer {
    @include flex(column, space-evenly, center);
  }
}