@import 'sass/variables';
@import 'sass/mixin';

.HomeContainer {
  @include flex(column, center, flex-start);
  width: 100%;
  background-color: $bgcFirst;
}

.subContainer {
  @include flex(row, space-evenly, center);
  flex-wrap: wrap;
  min-height: 100vh;
  box-sizing: border-box;
  width: 85%;
}

.photoWrapper {
  overflow: hidden;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.photo {
  width: 30vw;
  height: calc(100vh - 200px);
  background-image: url(images/ava.jpg);
  background-size: cover;
  background-position: 75% 50%;
  transition: all 1s ease;
  z-index: 2;
}

.photo:hover {
  transform: scale(1.1) rotate(3deg);
}

.textGreeting {
  @include flex(column, space-evenly, center);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: $bgcSecond;
  padding: 30px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.name {
  font-size: 52px;
  font-weight: bold;
  font-family: $fontFamily_1;
  box-sizing: border-box;
  color: $accentColor;
}

.firstName {
  font-weight: bold;
  font-family: $fontFamily_1;
  color: $fontColor;
  font-size: 52px;
}

.professionConatiner {
  display: grid;
  place-items: center;
  width: 100%;
}

.profession {
  font-size: 52px;
  font-family: $fontFamily_1;
  font-weight: bold;
}

.aboutMeText {
  margin-top: 20px;
  font-size: 28px;
  color: $fontColor;
  font-family: $fontFamily_2;
  text-align: center;
}

.getHireLink {
  @include flex(column, flex-end, center);
  width: 80%;
  color: $fontColor;
  text-decoration: none;
  transition-duration: 1s;
  transition-property: all;
  margin-top: 50px;
  &:hover {
    transform: scale(1.05);
  }
  &:hover .getHireContainer {
    border-radius: 50px;
    background-color: $accentColor;
  }
}

.getHireContainer {
  @include flex(row, space-between, center);
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
  transition-duration: 0.6s;
  transition-property: all;
  border: 1px solid $accentColor;
}

.getHireTitle {
  font-size: 24px;
  transition-duration: 1s;
  transition-property: all;
  white-space: nowrap;
  animation: marquee 3s infinite linear;
  overflow: hidden;
  width: 100%;
  @keyframes marquee {
    0% {
      transform: translateX(100%)
    }
    100% {
      transform: translateX(-100%)
    }
  }
}

.getHireIcon {
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
  background-color: $accentColor;
  z-index: 1;
}

.accentColor {
  color: $accentColor;
}

@media screen and (min-width: 3001px) {
  .aboutMeText {
    font-size: 30px;
  }
}
@media screen and (max-width: 3000px) {
  .aboutMeText {
    font-size: 30px;
  }
}
@media screen and (max-width: 2500px) {
  .aboutMeText {
    font-size: 26px;
  }
  .profession {
    font-size: 42px;
  }
  .firstName {
    font-size: 42px;
  }
  .name {
    font-size: 42px;
  }
}
@media screen and (max-width: 2000px) {
  .aboutMeText {
    font-size: 24px;
  }
  .profession {
    font-size: 40px;
  }
  .firstName {
    font-size: 40px;
  }
  .name {
    font-size: 40px;
  }
}
@media screen and (max-width: 1800px) {
  .subContainer {
    width: 100%;
  }
  .photo {
    background-position: 90% 50%;
    width: 40vw;
  }
}
@media screen and (max-width: 1500px) {
  .photo {
    background-position: 73% 50%;
  }
  .aboutMeText {
    font-size: 22px;
  }
  .profession {
    font-size: 35px;
  }
  .firstName {
    font-size: 35px;
  }
  .name {
    font-size: 35px;
  }
  .getHireContainer {
    width: 350px;
  }
  .getHireIcon {
    width: 70px;
    height: 70px;
  }
  .getHireTitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 1500px) {
  .photoWrapper {
    width: 500px;
    height: 500px;
    border-radius: 5px;
  }
  .photo {
    width: 500px;
    height: 500px;
    background-position: 100% 50%;
  }
  .aboutMeText {
    font-size: 20px;
  }
  .getHireTitle {
    font-size: 18px;
  }
  .profession {
    font-size: 36px;
  }
  .firstName {
    font-size: 36px;
  }
  .name {
    font-size: 36px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .profession {
    font-size: 30px;
  }
  .firstName {
    font-size: 30px;
  }
  .name {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .photoWrapper {
    width: 400px;
    height: 400px;
  }
  .photo {
    width: 400px;
    height: 400px;
    background-position: 73% 50%;
  }
  .aboutMeText {
    font-size: 20px;
  }
  .profession {
    font-size: 24px;
  }
  .firstName {
    font-size: 24px;
  }
  .name {
    font-size: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .subContainer {
    @include flex(column, space-evenly, center);
    min-height: 100vh;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .photoWrapper {
    border-radius: 50%;
    width: 272px;
    height: 272px;
    border: 2px solid $accentColor;
  }
  .photo {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-position: 100% 50%;
  }
  .textGreeting {
    padding: 10px;
  }
  .aboutMeText {
    font-size: 18px;
  }
  .getHireTitle {
    font-size: 16px;
  }
  .getHireIcon {
    width: 65px;
    height: 65px;
  }
  .getHireContainer {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .aboutMeText {
    font-size: 16px;
  }
  .getHireTitle {
    font-size: 14px;
  }
  .getHireContainer {
    width: 250px;
  }
}
@media screen and (max-width: 350px) {
  .aboutMeText {
    font-size: 14px;
  }
  .getHireTitle {
    font-size: 12px;
  }
  .firstName {
    font-size: 20px;
  }
  .name {
    font-size: 20px;
    margin-top: 20px;
  }
  .getHireContainer {
    width: 280px;
  }
  .getHireIcon {
    width: 55px;
    height: 55px;
  }
  .professionConatiner {
    width: 90%;
  }
  .profession {
    font-size: 20px;
  }
  .getHireContainer {
    width: 200px;
  }
}
@media screen and (max-width: 300px) {
  .photoWrapper {
    width: 202px;
    height: 202px;
    border: 2px solid $accentColor;
  }
  .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .profession {
    font-size: 14px;
  }
  .aboutMeText {
    font-size: 10px;
  }
  .getHireTitle {
    font-size: 8px;
  }
  .firstName {
    font-size: 14px;
  }
  .name {
    font-size: 14px;
  }
  .getHireIcon {
    width: 45px;
    height: 45px;
  }
  .professionConatiner {
    width: 80%;
  }
}

@media screen and (max-width: 230px) {
  .photoWrapper {
    display: none;
  }
  .getHireContainer {
    display: none;
  }
  .profession {
    font-size: 11px;
  }
}

@media screen and (max-width: 82px) {
  .subContainer {
    display: none;
  }
}

