@import 'sass/variables';
@import 'sass/mixin';

.ProjectsContainer {
  @include flex(column, center, flex-start);
  width: 100%;
}

.container {
  @include flex(column, space-between, center);
  width: 85%;
  min-height: 100vh;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: $bgcSecond;
}

.projectsContainer {
  @include flex(column, space-evenly, center);
  width: 100%;
  min-height: 90vh;
  flex-wrap: wrap;
}

.projectContainer {
  @include flex(row, space-evenly, center);
  width: 80vw;
  min-height: 43vh;
}

.project {
  @include flex(column, space-evenly, center);
  width: 400px;
  padding-top: 20px;
  transition: all;
  transition-duration: 1s;
  text-align: center;
}

.projectHeader {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.projectDescription {
  background-color: $bgcFirst;
  padding: 30px;
  width: 20vw;
}

.socialNetworkBack {
  @include project('https://img.freepik.com/free-photo/view-3d-man-with-tech-device_23-2150710044.jpg', -120%, 50%);
}

.todolistBack {
  @include project('https://img.freepik.com/premium-photo/todo-list-checklist-clipboard-with-pencil-with-3d-style-generative-ai_82472-995.jpg', 50%, 50%);
}

.telegram {
  @include project('https://img.freepik.com/free-photo/full-shot-people-using-apps-make-friends_23-2150580341.jpg?size=626&ext=jpg&ga=GA1.2.920400960.1690553660&semt=ais', 95%, 50%);
}

.counter {
  @include project('https://img.freepik.com/free-vector/realistic-luxury-anniversary-labels-collection_23-2149319894.jpg?size=626&ext=jpg&uid=R96772405&ga=GA1.2.920400960.1690553660&semt=sph', 50%, 50%);
}

.projectLink {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 1px;
  font-size: 20px;
}

.status {
  margin: 5px 0 10px 0;
  color: white;
  font-size: 24px;
}

@media screen and (min-width: 3001px) {
  .projectDescription p {
    font-size: 24px;
  }
  .project {
      height: 530px;
      width: 500px;
  }
}

@media screen and (max-width: 3000px) {
  .projectDescription p {
    font-size: 20px;
  }
  .project {
    height: 430px;
    width: 400px;
  }
}

@media screen and (max-width: 1800px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1700px) {
  .projectDescription {
    width: 25vw;
  }
}

@media screen and (max-width: 1600px) {
  .projectDescription p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1300px) {
  .project {
    height: 330px;
    width: 300px;
  }
  .projectHeader {
    font-size: 18px;
  }
  .status {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .projectDescription {
    width: 30vw;
  }
}

@media screen and (max-width: 1000px) {
  .projectDescription {
    width: 40vw;
  }
}

@media screen and (max-width: 700px) {
  .projectContainer {
    @include flex(column, space-evenly, center);
    min-height: 75vh;
  }
  .projectDescription {
    width: 60vw;
  }
  .project {
    height: 430px;
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .project {
    height: 330px;
    width: 300px;
  }
  .projectDescription p {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .projectDescription p {
    font-size: 14px;
  }
  .projectDescription {
    width: 80vw;
  }
}

@media screen and (max-width: 350px) {
  .projectDescription {
    width: 90vw;
  }
  .project {
    height: 300px;
    width: 270px;
  }
}

@media screen and (max-width: 350px) {
  .project {
    height: 250px;
    width: 220px;
  }
  .projectDescription {
    width: 96vw;
  }
}

@media screen and (max-width: 250px) {
  .project {
    height: 200px;
    width: 180px;
  }
  .projectDescription {
    width: 98vw;
  }
  .projectDescription p {
    font-size: 12px;
  }
}

@media screen and (max-width: 200px) {
  .project {
    display: none;
  }
}