@import 'sass/variables';
@import 'sass/mixin';

.container {
    @include flex(column, space-between, normal);
    border: 1px solid blue;
    width: 85%;
    min-height: 100vh;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $bgDarkSecond;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    @media screen and (max-width: 1800px) {
        margin-bottom: 12vh;
    }
}

.titleContainer {
    border: 1px solid red;
    @include flex(row, center, center);
    width: 100%;
    border-radius: 4px;
    position: relative;
    .dotContainer_left {
        width: 15%;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 5vh;
        left: 10px;
        .leftDot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $accentColor;
            box-shadow: 0 0 10px $accentColor, 0 0 30px $accentColor;
            animation: dotAnimation 2.5s linear infinite;
            @keyframes dotAnimation {
                0% {
                    margin-right: 170px;
                    opacity: 1;
                }
                50% {
                    margin-right: 0;
                    opacity: 0;
                }
                100% {
                    margin-right: 170px;
                    opacity: 1;
                }
            }
        }
    }
    .dotContainer_right {
        width: 15%;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 5vh;
        right: 10px;
        .rightDot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $accentColor;
            box-shadow: 0 0 10px $accentColor, 0 0 30px $accentColor;
            animation: dotAnimation2 2.5s linear infinite;
            @keyframes dotAnimation2 {
                0% {
                    margin-left: 170px;
                    opacity: 1;
                }
                50% {
                    margin-left: 0;
                    opacity: 0;
                }
                100% {
                    margin-left: 170px;
                    opacity: 1;
                }
            }
        }
    }
    .title {
        border: 1px solid blue;
        text-align: center;
        border-radius: 4px;
        width: 70%;
        font-family: $fontFamily_1;
        text-transform: uppercase;
        font-size: 72px;
        animation: projectsAppear 0.7s forwards;
        @keyframes projectsAppear {
            0% {
                margin-bottom: 30%;
            }
            100% {

            }
        }
        @media screen and (min-width: 2500px) {
            font-size: 90px;
        }
        @media screen and (max-width: 650px) {
            font-size: 52px;
        }
        @media screen and (max-width: 500px) {
            font-size: 32px;
        }
        .me {
            position: absolute;
            color: $accentColor;
            font-family: inherit;
            animation: Sappear 4s forwards;
            @keyframes Sappear {
                0% {
                    transform: scale(0) rotate(0);
                }
                100% {
                    transform: scale(1) rotate(720deg);
                }
            }
        }

    }

}

.projectsContainer {
    border: 1px solid yellow;
    @include flex(column, space-evenly, center);
    width: 100%;
    min-height: 70vh;
    border-radius: 5px;
    flex-wrap: wrap;
    animation: projectAppear 1s forwards;
    @keyframes projectAppear {
        from {
            transform: scale(0.5);
        }
        to {
            transform: scale(1);
        }
    }
    .projectContainer {
        border: 1px solid red;
        width: 60vw;
        height: 43vh;
        @include flex(row, space-evenly, center);
        .projectDescription {
            background-color: $bgDarkFirst;
            padding: 20px;
            width: 27vw;
        }
        .project {
            @include flex(column, space-evenly, center);
            border: 1px solid yellow;
            width: 400px;
            padding-top: 20px;
            background-color: $bgDarkFirst;
            transition: all;
            transition-duration: 1s;
            @media screen and (min-width: 3001px) {
                height: 530px;
                width: 500px;
            }
            @media screen and (max-width: 2400px) {
                height: 330px;
                width: 300px;
            }
            @media screen and (max-width: 500px) {
                height: 250px;
                width: 220px;
            }
            .contentContainerLight {
                background-color: rgba(150, 150, 150, 1);
            }
            &:hover {
                transform: scale(1.1);
            }
            .socialNetworkBack {
                @include flex(row, center, center);
                height: 100%;
                width: 80%;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
                background-image: url('images/social.png');
                background-size: cover;
                background-position: 0 50%;
                border-radius: 2px;
            }
            .todolistBack {
                @include flex(row, center, center);
                height: 80%;
                width: 80%;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                background-image: url(images/todo.png);
                background-size: cover;
                background-position: -120% 50%;
                margin-bottom: 15px;
            }
            .counter {
                @include flex(row, center, center);
                height: 80%;
                width: 80%;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                background-image: url(images/counter.jpg);
                background-size: cover;
                background-position: 50% 50%;
                margin-bottom: 15px;
            }
            .telegram {
                @include flex(row, center, center);
                height: 80%;
                width: 80%;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                background-image: url(images/1234.png);
                background-size: cover;
                background-position: 50% 50%;
                margin-bottom: 15px;
            }
            h3 {
                color: lightgrey;
                font-weight: normal;
                font-size: 24px;
                @media screen and (max-width: 500px) {
                    font-size: 18px;
                }
            }
            .lightH3 {
                color: rgba(255,255,255,1);
            }
            span {
                @media screen and (max-width: 500px) {
                    font-size: 18px;
                }
            }

        }
        .projectLink {
            @include flex(row, center, center);
            border: 1px solid red;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: whitesmoke;
            border-radius: 1px;
            font-size: 20px;
        }
        .status {
            border: 1px solid white;
            margin: 5px 0 10px 0;
            color: lightgrey;
            font-size: 24px;
        }
    }
}