@import 'sass/variables';
@import 'sass/mixin';

.SkillsContainer {
  @include flex(column, center, flex-start);
}

.container {
  @include flex(column, space-between, normal);
  width: 85%;
  min-height: 100vh;
  background-color: $bgcFirst;
}

.skillsContainer {
  @include flex(row, space-evenly, center);
  min-height: 90vh;
  width: 100%;
  border-radius: 4px;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  animation: skillsAppear 0.6s ease-in-out forwards;
  @keyframes skillsAppear {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1)
    }
  }
}

.skill {
  @include flex(row, space-evenly, center);
  border-radius: 4px;
  width: 20vw;
  height: 24vh;
  transition: all 0.4s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1800px) {
  .container {
    width: 100vw;
  }
  .skill {
    width: 15vw;
    height: 20vh;
  }
}

@media screen and (max-width: 1000px) {
  .skillsContainer {
    @include flex(row, space-evenly, center);
  }
  .skill {
    width: 25vw;
    height: 25vh;
  }
}

@media screen and (max-width: 600px) {
  .skill {
    width: 35vw;
    height: 25vh;
  }
}

@media screen and (max-width: 400px) {
  .skill {
    width: 50vw;
    height: 25vh;
  }
}











