.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-height: 90vh;
    box-sizing: border-box;
    margin: 5px 0;
    font-family: 'Poppins', serif;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
}

h2 {
    font-family: inherit;
    font-size: 52px;
    margin-top: 45px;
}

.me {
    color: #3a5ace;
    font-family: inherit;
}

.resume {
    position: absolute;
    font-family: inherit;
    font-size: 110px;
    z-index: 0;
    opacity: 1;
    color: hsla(0, 0%, 100%, .07);
    font-weight: 900;
}

h3 {
    color: lightgrey;
    display: flex;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700;
    gap: 25px;
    letter-spacing: 8px;
    line-height: 1.7;
    text-transform: uppercase;
    align-items: center;
    width: 100%;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #3a5ace;
    box-shadow: 0 0 10px #3a5ace, 0 0 30px #3a5ace;
    animation: circleAppearance 1s forwards ease-in-out;
}

.headerLine {
    background-color: #3a5ace;
    display: inline-block;
    flex-grow: 1;
    height: 1px;
}

@keyframes circleAppearance{
    0% {
        opacity: 0;
        margin-left: 50px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

section p {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
}

.content {
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: space-evenly;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 30%;
}

.personalInfo {
    font-family: inherit;
}

.personalStrengths {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.strengthContainer {
    display: flex;
    align-items: center;
}

.contentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 45%;
}

.experience_education {
}

.programming_training {
    margin-top: 10%;
}

.languages {
    height: 40%;
}

.circleContainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 90%;
}

.card {
    position: relative;
    width: 150px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleContainer .card .percentCircle {
    position: relative;
    height: 150px;
    width: 150px;
}

.circleContainer .card .percentCircle .svg {
    position: relative;
    height: 150px;
    width: 150px;
    --clr: #3a5ace;
    --num: 85;
    transform: rotate(270deg);
}

.circleContainer .card .percentCircle .svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: gray;
    transform: translate(5px, 5px);
}

.circleContainer .card .percentCircle .svg circle:nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num))/100);
    opacity: 0;
    animation: fadeIn 0.9s linear forwards;
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg * 85));
    }
}

.dot::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #3a5ace;
    box-shadow: 0 0 10px #3a5ace, 0 0 30px #3a5ace;
}

.amount {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.amount h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5em;
}

.amount p {
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255,255, 0.75);
    font-family: 'Lora', serif;
}

@media screen and (min-width: 2550px) {
    section p {
        font-size: 20px;
    }
}

