@import '../sass/variables';
@import '../sass/mixin';

.container {
  @include flex(column, space-between, center);
  width: 90%;
  min-height: 90vh;
  box-sizing: border-box;
  margin: 5px 0;
  font-family: 'Poppins', serif;

  .titleSection {
    @include flex(column, space-between, center);
    font-family: inherit;
    .titleAboutPage {
      animation: titleAppear 1s forwards;
      @keyframes titleAppear {
        from {
          margin-top: 100%;
          transform: rotate(20deg)
        }
        to {
          margin-top: 45px;
          transform: rotate(0deg)
        }
      }
    }
    h2 {
      font-family: inherit;
      font-size: 52px;
      margin-top: 45px;

      .me {
        color: $accentColor;
        font-family: inherit;
      }
    }

    .titleBack {
      position: absolute;
      font-family: inherit;
      font-size: 110px;
      z-index: 0;
      opacity: 1;
      color: hsla(0, 0%, 100%, .07);
      font-weight: 900;
    }
  }

  .content {
    @include flex(row, space-evenly, normal);
    @include size(80%, 80%);

    .contentLeft {
      @include flex(column, space-between, normal);
      overflow: hidden;
      width: 30%;

      .personalInfo {
        font-family: inherit;
      }

      .personalStrengths {
        @include flex(column, normal, flex-start);
        height: 40%;

        .icon {
          @include size(30px, 30px);
          margin-right: 10px;
        }

        .strengthContainer {
          @include flex(row, normal, center);
        }
      }
    }

    .contentRight {
      @include flex(column, space-between, normal);
      overflow: hidden;
      width: 45%;

      .experience_education {
        .programming_training {
          margin-top: 10%;
        }
      }

      .languages {
        height: 40%;

        .circleContainer {
          @include flex(row, space-evenly, center);
          position: relative;
          gap: 20px;
          height: 90%;
        }
      }
    }

    h3 {
      @include flex(row, normal, center);
      color: lightgrey;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 700;
      gap: 25px;
      letter-spacing: 8px;
      line-height: 1.7;
      text-transform: uppercase;
      width: 100%;
    }

    .circle {
      @include size(10px, 10px);
      border-radius: 50%;
      background:  $accentColor;
      box-shadow: 0 0 10px  $accentColor, 0 0 30px  $accentColor;
      animation: circleAppearance 1s forwards ease-in-out;
    }

    .headerLine {
      background-color: #3a5ace;
      display: inline-block;
      flex-grow: 1;
      height: 1px;
    }

    @keyframes circleAppearance {
      0% {
        opacity: 0;
        margin-left: 50px;
      }
      100% {
        opacity: 1;
        margin-left: 0;
      }
    }

    section p {
      @include flex(row, space-between, normal);
      margin-top: 10px;
      letter-spacing: 2px;
      @media screen and (min-width: 2550px) {
        font-size: 20px;
      }
    }
  }
}

