@import '../sass/variables';
@import '../sass/mixin';

.container {
  @include flex(column, space-between, center);
  width: 90%;
  min-height: 90vh;
  box-sizing: border-box;
  margin: 5px 0;
  font-family: 'Poppins', serif;

  .titleSection {
    @include flex(column, space-between, center);
    font-family: inherit;

    h2 {
      font-family: inherit;
      font-size: 52px;
      margin-top: 45px;

      .me {
        color: $accentColor;
        font-family: inherit;
      }
    }

    .resume {
      position: absolute;
      font-family: inherit;
      font-size: 110px;
      z-index: 0;
      opacity: 1;
      color: hsla(0, 0%, 100%, .07);
      font-weight: 900;
    }
  }

  .content {
    @include flex(row, space-evenly, normal);
    @include size(80%, 80%);

    .contentLeft {
      @include flex(column, space-between, normal);
      overflow: hidden;
      width: 30%;

      .personalInfo {
        font-family: inherit;
      }

      .personalStrengths {
        @include flex(column, normal, flex-start);
        height: 40%;

        .icon {
          @include size(30px, 30px);
          margin-right: 10px;
        }

        .strengthContainer {
          @include flex(row, normal, center);
        }
      }
    }

    .contentRight {
      @include flex(column, space-between, normal);
      overflow: hidden;
      width: 45%;

      .experience_education {
        .programming_training {
          margin-top: 10%;
        }
      }

      .languages {
        height: 40%;

        .circleContainer {
          @include flex(row, space-evenly, center);
          position: relative;
          gap: 20px;
          height: 90%;

          .card {
            @include flex(row, center, center);
            @include size(150px, 180px);
            position: relative;

            .percentCircle {
              @include size(150px, 150px);
              position: relative;

              .svg {
                @include size(150px, 150px);
                position: relative;
                transform: rotate(270deg);
              }

              .svg circle {
                @include size(100%, 100%);
                fill: transparent;
                stroke-width: 2;
                stroke: rgba(200,200,200,0.5);
                transform: translate(5px, 5px);
              }

              .svg circle:nth-child(2) {
                stroke: var(--clr);
                stroke-dasharray: 440;
                stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
                opacity: 0;
                animation: fadeIn 0.9s linear forwards;
                animation-delay: 1.5s;
              }

              @keyframes fadeIn {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }

              .dot {
                position: absolute;
                inset: 5px;
                z-index: 10;
                transform: rotate(calc(3.6deg * var(--num)));
                animation: animateDot 2s linear forwards;
                &::before {
                  content: '';
                  position: absolute;
                  top: -5px;
                  left: 50%;
                  transform: translateX(-50%);
                  height: 10px;
                  width: 10px;
                  border-radius: 50%;
                  background: var(--clr);
                  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
                }
              }

              @keyframes animateDot {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(calc(3.6deg * var(--num)));
                }
              }

              .amount {
                @include flex(column, center, center);
                position: absolute;
                inset: 0;
                opacity: 0;
                animation: fadeIn 1s linear forwards;
                animation-delay: 2.5s;
              }

              .amount h3 {
                @include flex(row, center, center);
                font-weight: 700;
                font-size: 1.5em;
              }

              .amount p {
                font-weight: 300;
                font-size: 0.75em;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.75);
                font-family: 'Lora', serif;
              }
            }
          }
        }
      }
    }

    h3 {
      @include flex(row, normal, center);
      color: lightgrey;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 700;
      gap: 25px;
      letter-spacing: 8px;
      line-height: 1.7;
      text-transform: uppercase;
      width: 100%;
    }

    .circle {
      @include size(10px, 10px);
      border-radius: 50%;
      background:  $accentColor;
      box-shadow: 0 0 10px  $accentColor, 0 0 30px  $accentColor;
      animation: circleAppearance 1s forwards ease-in-out;
    }

    .headerLine {
      background-color: #3a5ace;
      display: inline-block;
      flex-grow: 1;
      height: 1px;
    }

    @keyframes circleAppearance {
      0% {
        opacity: 0;
        margin-left: 50px;
      }
      100% {
        opacity: 1;
        margin-left: 0;
      }
    }

    section p {
      @include flex(row, space-between, normal);
      margin-top: 10px;
      letter-spacing: 2px;
      @media screen and (min-width: 2550px) {
        font-size: 20px;
      }
    }
  }
}

