.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 90vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
}

.textGreeting {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    min-height: 200px;
    width: 400px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
}

.greeting{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    align-self: flex-start;
    margin-left: 5%;
    text-shadow: 1px 5px 5px darkgray;
}

.name {
    font-size: 52px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    text-shadow: 1px 5px 5px darkgray;
}

.profession {
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    box-sizing: border-box;
    align-self: flex-end;
    margin-right: 5%;
    text-shadow: 1px 5px 5px darkgray;
}

.photo {
    width: 500px;
    height: 500px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    background-image: url(../ava.jpg);
    background-size: cover;
    background-position: 65% 50%;
}

@media screen and (min-width: 2550px) {
    .photo {
        width: 1000px;
        height: 1000px;
    }
    .textGreeting {
        min-height: 400px;
        width: 600px;
    }
    .greeting{
        font-size: 30px;
    }
    .name {
        font-size: 62px;
    }
    .profession {
        font-size: 34px;
    }

}