.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 90vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
}

.textGreeting {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
}

.greeting{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: bold;
    box-sizing: border-box;
}

.name {
    font-size: 52px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #3a5ace;
}

.preName {
    font-size: 52px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.professionConatiner {
    display: grid;
    place-items: center;
    width: 100%;
}

.profession {
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid; /* рисуем курсор */
    animation: typing 2s steps(30, end) forwards, blinking 1s infinite;
}

.photoWrapper {
    overflow: hidden;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
}

.photo {
    width: 30vw;
    height: calc(100vh - 80px);
    background-image: url(../ava.jpg);
    background-size: cover;
    background-position: 80% 50%;
    transition: all 1s ease;
}

.photo:hover {
    transform: scale(1.1) rotate(3deg);
}

.colorBlock {
    background-color: #3a5ace;
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}

.aboutMeText {
    margin-top: 20px;
    font-size: 28px;
    color: white;
}

.navLink {
    width: 80%;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition-duration: 1s;
    transition-property: all;
    margin-top: 50px;
}

.navLink:hover {
    color: whitesmoke;
    transform: scale(1.2);
}

.navLink:hover .navIconContainer {
    width: 50%;
    border-radius: 40px;
}

.navIconContainer {
    border-radius: 5px;
    width: 80px;
    background-color: #3a5ace;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 1s;
    transition-property: all;
}

.navIconContainer:hover .linkTitle {
    margin-right: auto;
    opacity: 1;
    width: 80px;
}

.linkTitle {
    font-size: 20px;
    margin-left: auto;
    width: 0;
    opacity: 0;
    transition-duration: 1s;
    transition-property: all;
}

.navIcon {
    width: 80px;
    height: 80px;
    background-color: #3a5ace;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
}


@media screen and (min-width: 2550px) {
    .photo {
        width: 1000px;
    }
}

@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: white}
    100% {border-right-color: transparent}

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}