.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    margin: 15px 0;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    height: 12%;
}

.title {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
}

.remoteWork {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
}

.projectsContainer {
    height: 87%;
    width: 100%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.contentContainer {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    height: 600px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.socialNetworkBack {
    height: 400px;
    width: 400px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    background-image: url(https://images.all-free-download.com/images/graphicwebp/social_networking_concept_with_smart_devices_and_map_6824808.webp);
    background-size: cover;
    border-radius: 5px;
}

.todolistBack {
    height: 400px;
    width: 400px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-image: url(https://cdn.worldvectorlogo.com/logos/todo-1.svg);
    background-size: cover;
}

