.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    margin: 15px 0;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    height: 12%;
}

.title {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
}

.skillsContainer {
    height: 87%;
    width: 100%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.skill{
    flex-wrap: wrap;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 30%;
    height: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    color: rgba(23,23,39,0.82);
    background-image: linear-gradient(to top, lightgrey, darkgray);
}

.skill span {
    font-weight: bold;
}

.skillJS {
    flex-wrap: wrap;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    color: rgba(23,23,39,0.82);
    background-image: linear-gradient(to top, lightgrey, darkgray);
}

.skillJS span {
    font-weight: bold;
}

.skillImg {
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.skillImgHTML {
    width: 100px;
    height: 100px;
}
