.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    color: rgba(23,23,39,0.82);
}

.header {
    background-color: #3a5ace;
    /*background-color: #2b2b31;*/
    min-height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    flex-wrap: wrap;
}

.nav {
    width: 80vh;
    display: flex;
    justify-content: space-between;
    margin-right: 2.5%;
    margin-left: 2.5%;
    flex-wrap: wrap;
}

.main {
    background-color: #dadada;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkNav {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    margin: 0 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.linkNav:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border-radius: 4px;
}

.linkNav:active {
    color: lightgrey;
    box-shadow: none;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.active {
    color: whitesmoke;
    box-shadow: none;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

.linkContacts {
    color: #1b79ce;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    margin: 30px 0 10px 0;
    border: 1px solid transparent;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.linkContacts:hover {
    background-color: rgba(42, 54, 255, 0.03);
}

.homeAnchor {
    height: 8vh;
    width: 100%;
}

.skillsAnchor {
    min-height: 7.3vh;
    width: 100%;
}

.contactMe {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 50px 0 -10px 0;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    box-sizing: border-box;
}

.titleContact {
    text-align: center;
    margin-top: 10px;
}

.footer {
    background-color: darkgray;
    min-width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footerHeader {
    font-family: 'Lora', serif;
    font-size: 20px;
    min-width: 20%;
    text-align: center;
}

.footerIconsContainer {
    display: flex;
    justify-content: space-between;
    min-width: 20%;
}

.footerLogo {
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 2550px) {
    .footerHeader {
        font-size: 30px;
    }
}



















































/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
