.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    color: rgba(23,23,39,0.82);
}

.header {
    background-color: rgba(6,30,255,0.72);
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    box-sizing: border-box;
}

.main {
    background-color: lightgrey;
    height: 90vh;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: darkgray;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    margin: 0 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

a:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

a:active {
    box-shadow: none;
}

.active {
    color: white;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

















































/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
